<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="./css/index.css">
    

    <title>BOLT | An online marketplace for your automobiles</title>
    </head>
    <body>
        <div class="header">
            <div class="text-box"> 
                <h1 class="heading-primary">
                <span class="heading-primary-main">360 AUTOMART</span>
                <span class="heading-primary-sub">Powerful Car Services</span>
            </h1>

            <a href="#cars" class="btn btn-gold btn-animated">Find out more</a>
            </div>
            
            <nav>
                <ul class="navigation">
                    <li><a href="#default">HOME</a><li>
                    <li><a href="#cars">INVENTORY</a><li>
                    <li><a href="#services">ABOUT US</a>
                    <li><a href="#Signup">REGISTER</a>
                    <li><a href="#signIn">LOG IN</a>
            </nav>
            </div>
        </div>
        <div class="footer">
            <div class="sub-wrapper flex">
                <div class="pry-logo">
                    <h2>360</h2>
                </div>
                <div class="pry-text">
                    <div>
                            <p>AUTO</p>
                            <p>MART</p>
                    </div>
                    
                </div>
            </div>
            <div class="sub-wrapper">
                <div class="pry-container">
                    <h3>Search</h3>
                    <h3>Buy</h3>
                    <h3>Sell</h3>
                </div>
                <div class="socialhandles">
                    <div>
                        <p>You can reach us on our social handles</p>
                    </div>
                    <div class="img-wrapper">
                            <img src="./images/facebook.png" alt="facebook page" >
                            <img src="./images/twitter.png" alt="twiiter page">
                            <img src="./images/whatsapp.png" alt="whatsapp page">
                            <img src="./images/instagram.png" alt="instagram page">        
                    </div>
                   
                </div>
            </div>
        </div>
        
    </body>