* {
    margin: 0;
    padding: 0; 

}
 body {
        font-family: "Lato";
        background-color:#997c7c;
        width: 100%;
        margin: 0 auto;
        max-width: 1240px;
        overflow: hidden;
        
    }
   h1 {
       font-size: 28px;
       font-weight: 300;
       flex: 1;
   }
   h5{
       color:#666;
       font-size: 14px;
   }
   /*Product layout  */
     .product-filter {
     display: flex;
     padding: 30px 0;
    }

    .sort {
        display: flex;
        align-self: flex-end;
    }
    .collection-sort {
        display: flex;
        flex-direction: column;
    }
    .collection-sort:first-child {
        padding-right: 20px;
    }
    label{
        color: #666;
        font-size: 10px;
        font-weight: 500;
        line-height: 2em;
        text-transform: uppercase;
    }
   
.products {
    display: flex;
    flex-wrap:wrap;
}
.product-card{
flex: 1 16%;
padding : 2%;
background-color: #fff;
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
width: 100%;
}
.product-info{
text-align: center;
margin-top: auto;
padding-top: 20px;
}

@media (max-width:920px) {
    .product-card {
        flex: 1 21%;
    }
    .product .product-card:first-child,
    .product .product-card:nth-child(2) {
        flex: 1 46%;
    }
}
@media (max-width:600px) {
    .product-card {
    flex: 1 46%;
    }
}
@media  (max-width:480px) {
    h1{
        margin-bottom: 20px;
    }
    .product-filter {
        flex-direction: column;
    }
    .sort {
        align-self: flex-start;
    }
}