* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; 
    color: rgb(221, 118, 118);
    
}
.header {
    height: 95vh;
    background-image:linear-gradient(
    to right,
    rgba(28, 28, 65, 0.8),
     rgba(4, 0, 14, 0.8)),
    url("../images/autocar.jpg");
    background-size: cover;
    background-position: top; 
    position: relative;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 40px;
}
.heading-primary-main{
     display: block;
     font-size: 60px;
     font-weight: 400;
     letter-spacing:35px; 

     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-delay: 3s;
}
     
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 12.4px;
    animation: moveInRight 1s ease-out; 
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
     transform:  translateX(10px); 
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);   
    }

    80% {
     transform:  translateX(10px); 
    } 
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);   
    }

    80% {
     transform:  translateX(10px); 
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
} 

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0  5px 10px rgba(236, 114, 151, 0.2);
}

.btn-active {
    transform: translate(-1px); 
    box-shadow: 0 10px 20px rgba(160, 24, 24, 0.2);
}
.btn-gold {
    background-color: #b34952;
    color: whitesmoke;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}
.btn-gold::after {
    background-color: #b34952;
}
.btn:hover::after {
    transform: scaleX(1) scaleY(1.5 );
    opacity: 0;
}

.btn-animated {
    animation: moveIntoBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}



.navigation {
    list-style: none;  
    float: right;

}
.navigation li {
    display: inline-block;
    margin-left: 30px;
    clear: auto;
    color: white;
}

.navigation li:first-child {
    margin: 0;
    }
    
 .navigation li a:link {
   text-decoration: none;
   text-transform: uppercase;
   color:whitesmoke; 
    }
    
.navigation li a:hover {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 10px 20px;
    background-color: #b34952;
}
.buttons {
    float: right;
    width: 10px;
}
.btn-main:link,
.btn-sub:link {
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    width:150px;
    background-color: #b34952;
}

.btn-main:hover,
.btn-sub:hover {
    background-color: #b34952;
}
select {
    border:1px solid #aaa;
    padding: .6rem 1.4rem .5rem .8rem;
    border-radius:3px;
    display:block;
    font-family:sans-serif;
    font-weight:700;
    color:orange;
    max-width:100%;
    margin:0;
    line-height:1.3;
    box-shadow:0 1px 0 1px;
    rgba :(0,0,0,0.4);
    border-radius: .5em;
    opacity:40;
}

  select::after {
    content:"";
    display:inline-block;
    border-top: 10px solid #777;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position:absolute;
    topcalc :(50% - 5px);
    right:.3rem;
    z-index: -1;
    pointer-events :none;
  }
  .row search_adv {
    border:solid #777;
    padding: .8rem 3rem .8rem .3rem;
    border-radius:3px;
  }
  .row {
    border-radius:3px;
    padding-left:0;
  }
  input[type=text] {
    width:50%;padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    box-shadow:0 1px 0 1px;
    border-radius:3px;
    line-height:1.3px;
  }
    

    
   ::placeholder {
    font-size:10px;
    color:grey;
   }
  
  button[type=submit]  {
    background:#b34952;
    color:#ffffff;
    text-transform:uppercase;
    padding:8px 10px 7px;
    cursor:pointer;
    font-size:12px !important;
    border-radius:.5em;
  }
  button[type=button] {
   color:black; 
    font-size:10px; 
    border-radius:10px;
    cursor:pointer;
  }
  h2 .find-box {
    position: relative;
    display:block;
      top: 100%;
    bottom:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    text-align:center;
  }
  .wrapper .find-text {
    display: block;
    font-size: 30px;
       font-weight: 300;
       letter-spacing:5px;
      text-transform: uppercase;
    color:goldenrod;
  }
  .find-more-baton {
       padding: 5px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; 
      width:150px;
      background-color: silver;
    border-radius:3px;
    
  }
  
  .banner-menu-option {
      background-color: #444;
  }
  .footer {
    background: black;
    display: flex;
  }
  .sub-wrapper {
      width: 50%;
      display:block;
  }
  .flex {
    display: flex;
    justify-content: center;
  }
  .socialhandles {
      padding: 0 15px;
  }
  .socialhandles img {
      width: 30px;
      margin: 0 17px;
  }
     
  .socialhandles p {
      color: whitesmoke;
      font-weight: 300;
      margin-bottom: 5px;
  }
  .pry-container  {
    display: flex;
    padding: 15px 0 ;
}
 .pry-container h3 {
    margin: 0 15px;
    font-size: 24px;
 }
 .img-wrapper {
    width: 70%;
 }
 .pry-logo {
    display: flex;
    align-items: center;
 }
 .pry-logo h2 {
     font-size: 60px;
 }
 .pry-text {
    align-items: center;
    display: flex;
 }
 .pry-text p {
    font-weight: 600;
    color: white;
    
 }
 .pry-text p:nth-child(1) {
    border-bottom: 1px solid white;
 }
